<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app/_3_0.xsd"
         version="3.0"
         metadata-complete="false">

    <filter>
        <filter-name>jerseyServletContainer</filter-name>
        <filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring.xml</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>jersey.spring</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>jerseyServletContainer</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>